{% extends "layout.html" %}

{% block content %}
    <div class="container">


    <div class="jumbotron bg-lt">
        <h1 class="display-4">Welcome to Gritter!</h1>
        <hr class="my-4">
            {% if context %}
                <h2>Total number of users: {{ context.users }}</h2>
                <h2>Total number of posts: {{ context.posts }}</h2>
                <h2>Total number of likes: {{ context.likes }}</h2>
            {% endif %}
    <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="{{ url_for('signup') }}" role="button">Sign up!</a>
        <a class="btn btn-primary btn-lg" href="{{ url_for('signin') }}" role="button">Log in</a>
</div>


    </div>


{% endblock content %}

