{% extends "layout.html" %}

{% block content %}
    <div class="container">
        <div class="jumbotron bg-lt">
            <h1 class="display-4">Welcome to Gritter!</h1>
            <hr class="my-4">
                 {% if context %}
                    <h2>Total number of users: {{ context.num_users }}</h2>
                    <h2>Total number of posts: {{ context.num_posts }}</h2>
                    <h2>Total number of likes: {{ context.num_likes }}</h2>
                {% endif %}
            <hr class="my-4">
            <a class="btn btn-primary btn-lg" href="{{ url_for('signup') }}" role="button">Sign up!</a>
            <a class="btn btn-primary btn-lg" href="{{ url_for('signin') }}" role="button">Log in</a>
        </div>
    <div class="container">
        <h2>Public feed</h2>
        {% for post in context.posts %}
            <div class="card mt-4">
                <div class="card-body">
                    <p class="card-text">
                        {{ post.content }}
                    </p>
                    <p class="card-text">
                        <small class="text-muted">{{ post.author }}</small>
                    </p>
                    <p>
                        {# like[1] is like count #}
                        <h6 class="card-subtitle text-muted">Likes: {{ post.num_likes }} </h6>
                    </p>
                    {{ post.timestamp }} <br>
                    <a class="btn btn-outline-primary" href="#">Like (dead link)</a>
                </div>
            </div>
        {% endfor %}
    </div>


{% endblock content %}

