{% extends "layout.html" %}


{% block content %}

	<div class="container">
        <a href="{{  url_for('create_likes') }}" class="btn btn-secondary" type="button">Generate likes</a>
        <a href="{{ url_for('delete_likes') }}" class="btn btn-danger" type="button">Delete likes</a>

    <!-- POSTS -->
        <div>
            <h2>Posts</h2>
            <a href="{{ url_for('create_posts') }}" class="btn btn-secondary" type="button">Generate posts</a>
            <a href="{{ url_for('delete_posts') }}" class="btn btn-danger" type="button">Delete posts</a>
            {% for post in posts %}
                <h3>post ID: {{ post.id }}</h3>
                <li>post content: {{ post.content }}</li>
                <!-- UPDATE LIKE COUNTS -->
                <li>post like_count: {{ post.like_count }}</li>
            {% endfor %}
        </div>


    <!-- LIKES -->
        <div>
            <h2>Likes</h2>
            {% for like in likes %}
                <h3>Like ID: {{ like.id }}</h3>
                <li>Like.post_id: {{ like.post_id }}</li>
                <li>Like.user_id: {{ like.user_id }}</li>
            {% endfor %}
        </div>

    </div>

{% endblock content %}


