{% extends "layout.html" %}

{% block content %}


{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      {{ message }}
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


<div class="container" >
    <form method="POST" action="">
        {{ form.csrf_token }}
        {{ form.content.label }} <br>
        {{ form.content(size=20) }} <br>
        {{ form.submit }} <br>
    </form>
</div>

<div class="container">
    {% for post in posts %}
        <div class="card mt-4">
            <div class="card-body">
                <h4 class="card-title">Post id:{{ post.id }}</h4>
                <p class="card-text">
                    {{ post.content }}
                </p>
                {% for like in likes %}
                    {# like[0] is the post.id #}
                    {% if like[0] == post.id %}
                        <p>
                            {# like[1] is like count #}
                            <h6 class="card-subtitle text-muted">Likes: {{ like[1] }} </h6>
                        </p>
                    {% endif %}
                {% endfor %}


                <a class="btn btn-outline-primary" href="#">Like (dead link)</a>
            </div>
        </div>

    {% endfor %}
</div>

{% endblock content %}
