{% extends "layout.html" %}


{% block content %}


{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <div class="alert alert-primary" role="alert">
  <h4 class="alert-heading"> {{ message}} </h4>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}



<p>{{ user.followers.count() }} followers, {{ user.followed.count() }} following</p>

{% if not current_user.already_follow(user) %}
        <p>
            <form action="{{ url_for('follow', username=user.username) }}" method="post">
                {{ form.hidden_tag() }}
                {{ form.submit(value='Follow') }}
            </form>
        </p>

{% else %}
        <p>
            <form action="{{ url_for('unfollow', username=user.username) }}" method="post">
                {{ form.hidden_tag() }}
                {{ form.submit(value='Unfollow') }}
            </form>
        </p>


{% endif %}


{% endblock content %}
