<!DOCTYPE html>
<html>
	<head>
    {% block head %}
		<!-- bootstrap css -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

        <!-- local css -->
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />

        <title>Gritter</title>

    {% endblock %}
	</head>


	<body text="#2d7051">
		<!-- NAV -->
        <div class="container">
            <nav class="navbar navbar-expand-md bg-light navbar-light fixed-left">
              <div class="container">
                <a class="navbar-brand mr-4" href="{{ url_for('home') }}">Gritter</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                  aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                  <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link mr-3 ml-auto" href="{{ url_for('user_home') }}">Home</a>
                    <a class="nav-item nav-link mr-3 ml-auto" href="{{ url_for('signin') }}">Sign In</a>
                    <a class="nav-item nav-link mr-3 ml-auto" href="{{ url_for('signup') }}">Sign Up</a>

                  </div>
                </div>
              </div>
            </nav>
        </div>

        <div class="container pt-2">
            <!-- Flashed Messages -->
            {% with messages = get_flashed_messages(category_filter=["message"]) %}
                {% if messages %}
                    <div class="container">
                      <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {%- for msg in messages %}
                            {{ msg }}
                        {% endfor -%}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                    </div>
                {% endif %}
            {% endwith %}
        </div>

        {% block content %}

        {% endblock %}
	</body>
</html>
